@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div style="text-align: center; margin: 50px;">
    <h1>About Us</h1>
    <p>The students of low-grade colleges despite of having the caliber to compete are not getting enough exposure to job profiles of their choices 
    and end up getting a low satisfying job.To reduce this gap between these companies or any organization and such potential candidates this platform 
    will help the deserving candidates to showcase their conceptual skills through this website.</p>
</div>
